<%- include("partials/header") %>    
    <div class="container">
        <h1>Add New Campground</h1>
        <form action="/campgrounds" method="post">
            <div class="form-group">
                <input type="text" class="form-control" id="sitename" name="sitename" placeholder="Campsite Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="location" name="location" placeholder="Location/City">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="imageurl" name="imageurl" placeholder="Image URL">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="description" name="description" placeholder="Description">
            </div>            
            <button type="submit" class="btn btn-primary">Add</button>
            <div>
                <a href="/campgrounds">Back</a>
            </div>
        </form>
    </div>
<%- include("partials/footer") %>        